@media screen and (max-width: 1500px) {
  html {
  font-size: 16px !important;
  }
  body {
  font-size: 16px !important;
  zoom: 80% !important;
  height: 100% !important;
  }
}

.pinboard-tab-panel-module__tabPanel {
  border: none !important;
}

.pinboard-header-module__pinboardHeader {
  padding: 1rem 2rem !important;
}

.pinboard-header-module__embedPinboardHeader {
  margin: 0 !important;
  border-radius: 0 !important;
}

.pinboard-header-module__embedPinboardHeader > .flex-layout-module__vertical {
  display: none !important;
}

bk-powered-footer, .bk-powered-footer {
    display: none !important;
}
