.pinboard-tab-panel-module__tabPanel {
  border: none !important;
}

.pinboard-header-module__embedPinboardHeader {
  margin: 0 !important;
  display: none !important;
  border-radius: 0 !important;
}

bk-powered-footer, .bk-powered-footer {
    display: none;
}
