@media screen and (max-width: 1500px) {
  html {
  font-size: 16px !important;
  }
  body {
  font-size: 16px !important;
  zoom: 80% !important;
  height: 100% !important;
  }
}

.answer-title-module__titleText, 
.answer-title-module__descriptionTextOneLine {
  -webkit-line-clamp: 2;
    word-break: normal;
}

.pinboard-tab-panel-module__tabPanel {
  border: none !important;
}

.pinboard-header-module__pinboardHeaderContainer {
  position: sticky;
  top: 0;
  z-index: 10;
}

.pinboard-header-module__pinboardHeader {
  padding: 1rem 2rem !important;
}

.popover-module__positionable:not(.popover-module__positionFixed)[data-popper-reference-hidden=true] {
  visibility: initial !important;
  pointer-events: initial !important;
}

.pinboard-header-module__embedPinboardHeader {
  margin: 0 !important;
  border-radius: 0 !important;
}

.pinboard-header-module__pinboardHeaderContainer .pinboard-header-module__pinboardHeader .flex-layout-module__vertical {
  display: none !important;
}

bk-powered-footer, .bk-powered-footer {
    display: none !important;
}

.filter-panel-module__droppableFilterList .flex-layout-module__horizontal::before {
    content: "Filters: ";
    position: relative;
    top: 6px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 600;
}

.chartSection .vizWrapper .legend-area .vertical-legend {
  overflow-x: visible !important;
}

.chartSection .vizWrapper .chart-legend-container-v2 .legend-item-v2 .label-v2 .legend-text-v2:hover {
  overflow: visible !important;
}
